<h3> Answers </h3>
<div *ngIf="answers.length > 0">
  <table class="answers">
    <thead>
      <tr>
        <th>Text</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let answer of answers">
        <td>{{answer.text}}</td>
        <td><input type="button" value="Edit" (click)="onEdit(answer)"></td>
        <td><input type="button" value="Delete" (click)="onDelete(answer)"></td>        
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="answers.length == 0">
  This question has no answers yet.
  Click the <strong> Add a new Answer</strong> button to addd the first answer !
</div>
<input type="button" value="Add a new Answer" (click)="onCreate()">

